body {
	font: 0.9em/1.5 Arial, Tahoma;
	margin:5px; padding:0px;
}

#detail_table {
	width: 100%;
}

#header {
	font-size: 0.8em;
}

#divConInfo ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 20;
	font-size: 0.8em;
}

#divConInfo a {
	margin-top: 0;
	margin-bottom: 0;
}

#divConInfo h2 {
	font-size: 1.2em;
	margin: 0;
}

#place {
	font-size: 0.8em;
}

#location {
	font-size: 0.8em;
}
.selected { background-color:#ffa92c; }

a img {
	border-left: none;
	border-top: none;
	border-right: none;
}

h4
{
	font-weight: bold;
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 0;
}

#divToolTip { position:absolute; background-color:#ffff7f; border-color:#cccccc; font-size:16px;
              color:#000000; border-width:1; border-style:solid; display:none; }

@media print{
    #detail_table {
        width: 450px;
    }
    #printbutton{
        display:none;
    }
	#divToolTip       { display:none!important; }

}