html {
	height: 100%;
}

body {
	font: 0.9em/1.5 Arial, Tahoma;
	color: #4D4D4D;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#page_link{
	position: absolute;
	left: 30px;
	top: 0;
	height:50px;
	background-color: #ddffff;
	padding:0px;
}
#content {
	overflow:scroll;
	position: absolute;
	left:0px;
	width: 100%;
	height: 100%;
}
#Connector_Layout_Diagram{
	margin:0px 30px 0px;
}
#Connector_Codes_and_Terminal_Nos{
	margin:0px 30px 0px;
}
#Ground_Point{
	margin:0px 30px 0px;
}
#Power_Supply_Diagram{
	margin:0px 30px 0px;
}
#System_Circuit_Diagram{
	margin:0px 30px 0px;
}

#title{
	font-weight:bold;
	font-size:x-large;
	margin:20px 30px 20px;
	text-align:center;
}
.content1{
	font-weight:bold;
	font-size:large;
	margin:0px 0px 20px;
	text-align:left
}
.content2{
	font-weight:normal;
	font-size:medium;
	margin:0px 0px 30px;
	text-align:left
}
.content3{
	font-weight:normal;
	font-size:medium;
	margin:20px 0px 30px;
	text-align:left
}
.content4{
	font-weight:normal;
	font-size:medium;
	margin:0px 0px 0px;
	text-align:left
}
.content5{
	font-weight:bold;
	font-size:medium;
	margin:0px 0px 0px;
	text-align:left
}
.content6{
	font-weight:normal;
	font-size:medium;
	margin:0px 10px 0px;
	text-align:left
}

.content7{
	font-weight:normal;
	font-size:medium;
	margin:0px 0px 0px;
	text-align:left
}
.content8{
	font-weight:normal;
	font-size:medium;
	margin:0px 40px 0px;
	text-align:left
}
.content9{
	font-weight:normal;
	font-size:medium;
	margin:0px 34px 0px;
	text-align:left
}
.note{
	font-weight:bold;
	font-size:small;
	margin:0px 40px 0px;
	text-align:left
}

img
{
    cursor: hand;
}
